* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain{
    display: flex;
}

.box-alamat{
    background: #EF233C;
    border-radius: 10px;
    box-sizing: border-box;
    width: 720px;
    height: 170px;  
    margin-top: 50px;
}

.isi-alamat{
   padding: 10px;
}

.text-alamat h3{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}


.icon-checklist{
    float: right;
    /* margin-right: 10px; */
}

.opsi-alamat {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 10px 10px 10px;
}

.opsi-alamat h3{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.btn-tambah{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 16px;
    border: 1px solid #EF233C;
    background-color: #EF233C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
    margin:50px 0px 20px 20px;
}









