.main-result-category {
    margin-top: 7%;
    width: 1400px;
    margin: 7% auto;
}

.tab-navigation-result-category {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
}

.tab-navigation-result-category button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #EF233C;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

.underline-category {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12%;
    height: 2px;
    background-color: #EF233C;
}