* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-chat-user {
    width: 97%;
    height: 80vh;
    background-color: #ffff;
    display: flex;
    margin: 120px 33px 30px 30px;
    border-radius: 10px;
    border: 1px solid #adadad;
}

.chat {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat .header-name-chat-user {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
}

.header-name-chat-user .img-chat-user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.header-name-chat-user .name-chat-user h3 {
    font-size: 14px;
    font-weight: 500;
}

.chat .input-reply-chat-user {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    font-size: 26px;
}

.chat .input-reply-chat-user input {
    width: 100%;
    height: 40px;
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
}

.content-chat-user-toko {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    height: 100%;
}

.content-chat-user-toko .chat-user-in-toko {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #adadad;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.content-chat-user-toko .chat-user-in-toko p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.content-chat-user-toko .chat-user-in-toko span {
    font-size: 12px;
    font-weight: 400;
    color: #adadad;
    text-align: end;
}

.chat-reply-toko {
    display: flex;
    justify-content: end;
}


.content-chat-user-toko .chat-reply-toko {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #adadad;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #EBEBEB;
}

.content-chat-user-toko .chat-reply-toko p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.content-chat-user-toko .chat-reply-toko span {
    font-size: 12px;
    font-weight: 400;
    color: #adadad;
    text-align: end;
}

.imgchat {
    text-align: center;
}

.message-container {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.message-container-right {
    justify-content: flex-end;
}

.message-container-left {
    justify-content: flex-start;
}

.message-content {
    padding: 10px;
    border-radius: 10px;
    background-color: #e1e1e1;
    max-width: 70%;
}

.message-info {
    font-size: 12px;
    margin: 5px;
    color: #aaa;
}