* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-chat {
    width: 100%;
    height: 80vh;
    background-color: #ffff;
    display: flex;
    margin: 33px 30px;
    border-radius: 10px;
}

.chat {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat .header-name-chat-user {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
}

.header-name-chat-user .img-chat-user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.header-name-chat-user .name-chat-user h3 {
    font-size: 14px;
    font-weight: 500;
}

.chat .input-reply-chat-user {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    font-size: 26px;
}

.chat .input-reply-chat-user input {
    width: 100%;
    height: 40px;
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
}

.chat .content-chat-user-toko {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    height: 100%;
}

.content-chat-user-toko .content-chat-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #adadad;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.content-chat-user-toko .content-chat-user p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.content-chat-user-toko .content-chat-user span {
    font-size: 12px;
    font-weight: 400;
    color: #adadad;
    text-align: end;
}

.chat-reply-toko {
    display: flex;
    justify-content: end;
}


.content-chat-user-toko .content-chat-toko-reply {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #adadad;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #EBEBEB;
}

.content-chat-user-toko .content-chat-toko-reply p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.content-chat-user-toko .content-chat-toko-reply span {
    font-size: 12px;
    font-weight: 400;
    color: #adadad;
    text-align: end;
}

.imgchat {
    text-align: center;
}