.daftar-main {
    overflow-x: hidden;
    margin-top: 5%;
}

.container-toko {
    display: flex;
    margin: 34px 48px 0 48px;
    padding: 20px;
    gap: 30px;
}

.con-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 0;
}

.con-img h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.con-img p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #000;
    text-align: center;
    width: 78%;
    margin-bottom: 25px;
}

.con-daftartoko {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.con-input {
    margin-top: 31px;
}

.con-daftarToko h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.con-daftarToko span {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.step__number {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.step__number .circle-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EF233C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-timeline {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.step__marker-text h2 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 17px 0;
}

.inputNoHp {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #000000;
}

.inputNoHp input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    background-color: #fff;
}

.inputNoHp input::placeholder {
    font-size: 14px;
    font-weight: normal;
}


.input-district {
    display: flex;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #EF233C;
    position: relative;
    /* Tambahkan properti position */
}

.input-district input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    background-color: #fff;
}


.input-district ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 7px;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.input-district ul li {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.input-district ul li:hover {
    background-color: #f5f5f5;
}

.input-cities {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e7a2aa;
    position: relative;
    /* Tambahkan properti position */
}

.input-cities input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    background-color: #fff;
}


.input-cities ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 7px;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}


.input-cities ul li {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.input-cities ul li:hover {
    background-color: #f5f5f5;
}



.kodepos {
    display: flex;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #EF233C;
}

.kodepos input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    background-color: #fff;
}

.kodepos input::placeholder {
    font-size: 14px;
    font-weight: normal;
}


.namatoko {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e7a2aa;
    margin: 10px 0;
    background-color: #ffff;
}


.namatoko input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    background-color: #fff;
}


.namatoko input::placeholder {
    font-size: 14px;
    font-weight: normal;
}


.step__marker .namadomain {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EF233C;
    background-color: #fff;
}

.namadomain {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
}

.step__marker .namadomain input::placeholder {
    font-size: 14px;
    font-weight: normal;
}

.step__marker .dropdown {
    width: 100%;
}

.btn-buatToko {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
}

.btn-create-shop {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    background-color: #EF233C;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
}


.btn-buatToko a button {
    width: 120%;
    height: 40px;
    border-radius: 5px;
    background-color: #EF233C;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
}

.btn-buatToko a .btn-kembali {
    width: 150%;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #C7C7C7;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.timeline-toko {
    height: 54px;
    width: 2px;
    background-color: #EF233C;
    margin: 7px 0;
}

.timeline-toko-domain {
    height: 100px;
    width: 2px;
    background-color: #EF233C;
    margin: 7px 0;
}

.main-input {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.main-input p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.input-provinsi-kota option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}

.input-provinsi-kota {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e7a2aa;
    padding: 0 10px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    margin: 10px 0 10px 0;
}


.message-container {
    /* color: var(--NN950,#212121); */
    text-decoration: initial;
    font-weight: 400;
    font-size: 17px;
    color: #EF233C;
}


.no-usser {
    color: var(--NN950, #212121);
    text-decoration: initial;
    font-weight: 400;
    font-size: 17 px;
}

.con-daftarToko .nama-user-daftartoko {
    margin-right: 6px;
    margin-left: 6px;
}