.container-checkout {
    margin: 6% 48px 0 48px;
    padding: 20px;
}

.container-checkout .title-checkout {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.container-detailpesanan {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    width: 100%;
}

.container-info-pesanan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.container-info-pesanan .container-info-alamat {
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    box-shadow: 1px -1px 8px -5px rgba(0, 0, 0, 0.67);
}

.container-alamat h1 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.container-alamat {
    padding: 30px;
}

.container-alamat .top-alamat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-alamat .top-left-alamat {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-left-alamat h4 {
    font-size: 14px;
    font-weight: 500;
    color: #969696;
}

.top-left-alamat .role-alamat {
    background: rgba(255, 190, 190, 0.52);
    color: #EF233C;
    font-size: 10px;
    font-weight: normal;
    padding: 4px 12px;
    border-radius: 5px;
}

.top-right-alamat h3 {
    font-size: 15px;
    font-weight: 500;
    color: #EF233C;
    cursor: pointer;
}

.content-address {
    margin-top: 10px;
}

.content-address .name-user {
    display: flex;
    align-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.content-address .name-user h3 {
    font-size: 16px;
    font-weight: 600;
}

.content-address .name-user p {
    font-size: 16px;
    font-weight: 500;
    color: #969696;
}

.content-address .name-user .line-address {
    width: 2px;
    height: 23px;
    background-color: #EF233C;
}

.full-address p {
    font-size: 14px;
    font-weight: 500;
    color: #969696;
}

.content-address h2 {
    font-size: 16px;
    font-weight: 500;
    color: #EF233C;
    margin-top: 20px;
    cursor: pointer;
}

.container-info-pesanan .container-info-produk {
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    box-shadow: 1px -1px 8px -5px rgba(0, 0, 0, 0.67);
}

.container-info-produk {
    padding: 30px;
}

.city-address {
    display: flex;
    align-items: center;
    background-color: #F2F1F1;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
}

.city-address h1 {
    font-size: 14px;
    font-weight: 500;
    color: #969696;
}

.shipping-produk {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    padding: 17px 31px;
    border-radius: 10px;
    box-shadow: 1px -1px 8px -5px rgba(0, 0, 0, 0.67);
}

.shipping-produk .pro-shipping {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 50%;
}

.pro-shipping .img-pro-ship {
    width: 30%;
}

.img-pro-ship img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pro-shipping .info-pro-ship {
    display: flex;
    flex-direction: column;
}

.info-pro-ship h1 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.info-pro-ship h2 {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.info-pro-ship h3 {
    font-size: 12px;
    font-weight: 500;
    color: #969696;
}

.shipping-produk .line-shipping {
    width: 2px;
    height: 130px;
    background-color: #969696;
}

.shipping {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.shipping .top-shipping {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-shipping .icon-top-shipping {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.icon-top-shipping p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.top-shipping .btn-pilih-shipping h2 {
    font-size: 13px;
    font-weight: 500;
    color: #EF233C;
    cursor: pointer;
}

.shipping .info-shipping {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shipping .info-shipping h2 {
    font-size: 15px;
    font-weight: normal;
    color: #EF233C;
}

.shipping .info-shipping h3 {
    font-size: 15px;
    font-weight: normal;
    color: #615555;
}

.warning-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: #969696
}

.container-payment-detail {
    width: 30%;
}

/* CSS untuk container modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* CSS untuk konten pop-up */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS untuk tombol dalam pop-up */
.modal-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #EF233C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS untuk tombol "Cancel" */
.modal-buttons button:nth-child(1) {
    background-color: #bbb;
}

/* hover */
.modal-buttons button:hover {
    opacity: 0.8;
}

/* CSS untuk tombol "Oke" */
.modal-buttons button:nth-child(2) {
    background-color: #EF233C;
}

/* CSS untuk loading spinner di dalam tombol */
.loading-spinner-container {
    display: flex;
    align-items: center;
}

.loading-spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}