.input-provinsi-kota {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EF233C;
    padding: 0 10px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

/* Dropdown Container */
.search-dropdown-kecamatan-kota {
    position: relative;
    width: 100%;
    border: 1px solid #EF233C;
    border-radius: 4px;
    padding: 6px;
  }
  
  .search-input-province {
    width: 100%;
  }
  
  .text-kode {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .dropdown-item-provinsi:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .dropdown-item-province {
    padding: 6px;
    cursor: pointer;
  }
  
  .dropdown-province {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 4px;
  }

  .search-dropdown-kecamatan-kota {
    position: relative;
    width: 100%;
    border: 1px solid #EF233C;
    border-radius: 4px;
    padding: 6px;
  }
  
  .search-input-regensi {
    width: 100%;
  }
  
  .text-kode {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .dropdown-item-regensi:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .dropdown-item-regensi {
    padding: 6px;
    cursor: pointer;
  }
  
  .dropdown-regensi {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 4px;
  }
  
  
  /* Dropdown Option */


.input-bulan{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EF233C;
    padding: 0 15px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.input-bulan option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}

.input-tahun{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EF233C;
    padding: 0 15px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.input-tahun option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}


.input-provinsi-kota option {
    font-size: 14px;
    font-weight: normal;
    background-color: #EF233C;
    color: #fff;
}

.input-tanggal{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EF233C;
    padding: 0 15px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.input-tanggal option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}

.input-kode {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EF233C;
    padding: 0 10px;
    margin: 5px 0;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.input-kode option {
    font-size: 14px;
    font-weight: normal;
    background-color: #EF233C;
    color: #fff;
}

div p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

div .text-kode{
    margin-top: 20px;
}

.input-produk {
    width: 320px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    padding: 0 10px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.input-produk option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}