body.active-modal {
    overflow-y: hidden;
}

/* .modal-emails, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
} */


.modal-alamat, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
}

.modal-jadwal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.overlay{
    background: rgba(49, 49, 49, 0.2);
}

.modal-nomer, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.modal-date, .overlay-date {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.modal-nama, .overlay-nama {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.modal-email, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}
/* .overlays {
    background: rgba(99, 99, 99, 0.8);
} */
/* 
.modals-contents {
    width: 600px;
    height: 680px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
} */


.modals-content-ubah-alamat{
    width: 600px;
    height: 680px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modals-content-add-alamat{
    width: 600px;
    height: 680px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}


.modal-content-nomerhp{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-email{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-date{
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}
.modal-content-jadwal{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-nama{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}


.modals-contents h3 {
    font-weight: 650;
    font-size: 20px;
    letter-spacing: -0.1px;
    color: var(--NN950, #212121);
}

.modals-contents p {
    font-size: 14px;
    font-weight: 500;
}

.modal-content-nama h3 {
    font-weight: 650;
    font-size: 20px;
    letter-spacing: -0.1px;
    color: var(--NN950, #212121);
}

.select-day {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    margin-left: 5px;
    width: 415px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .select-day::-ms-expand {
    display: none;
  }
  
  .select-day:after {
    content: "▼";
    font-size: 10px;
    margin-left: 5px;
    color: #666;
  }
  
  /* Add hover effect to the dropdown arrow */
  .select-day:hover:after {
    color: #333;
  }

.modal-content-nama p {
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    font-weight: 500;
}

.nama-kamu p {
    font-size: 14px;
    font-weight: 500;
}

.btn-simpan {
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.modal-buttons{
    margin-top: 20px;
}


.modal-nama {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-email {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}


.modal-alamat {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}


.modal-nomer {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-jadwal {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-date {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}



.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 7px;
    background: none;
    border: none;
    font-size: 30px;
}

.nama-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.nama-kamu input[type=text]:focus {
    border: 1px solid #EF233C;
}

.label-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-provinsi-kota-alamat option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}

.input-provinsi-kota-alamat {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    margin: 10px 0 10px 0;
}


.nama-kamu h3 {
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}

.email-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.email-kamu input[type=text]:focus {
    border: 1px solid #EF233C;
}

input .input-email {
    margin-bottom: 15px;
}

.email-kamu h3 {
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}

.btn-simpan-email {
    margin: 30px 0 30px 0;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.btn-simpan-alamat {
    margin: 10px 0 10px 0;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 13px;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.btn-add-jadwal-toko{
    background-color: #EF233C;
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
}


.email-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.nomer-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.nomer-kamu input[type=text]:focus {
    border: 1px solid #EF233C;
}

input .input-nomer {
    margin-bottom: 15px;
}

.nomer-kamu h3 {
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}


.btn-simpan-nomer {
    margin: 30px 0 30px 0;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.modal-content {
    max-height: 400px;
    /* Atur tinggi maksimum pop-up agar scroll muncul ketika kontennya melebihi */
    overflow: auto;
    /* Tampilkan scrollbar hanya jika kontennya melebihi tinggi maksimum */
}

.modal-content-nama {
    max-height: 400px;
    /* Atur tinggi maksimum pop-up agar scroll muncul ketika kontennya melebihi */
}


.scrollable-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.alamat-kamu textarea {
    width: 100%;
    height: 100px;
    /* Sesuaikan tinggi textarea sesuai preferensi Anda */
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
}

.text-diatas-popup {
    margin-left: 10px;
}

.text-diatas-popup .judul-ubah-alamat {
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}


.kontak-nomer-input {
    margin-top: 10px;
}

.kontak-nomer-input h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
}

.jarak-input-nama {
    margin-bottom: 10px;
}

.jarak-input-nomer {
    margin-bottom: 10px;
}

.edit-alamat {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #EF233C;
    cursor: pointer;
}

.alamat-kamu .peringatan-alamat {
    font-size: 13px;
    margin-bottom: 10px;
}

.alamat-kamu h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
}

.label-kamu p {
    font-size: 13px;
}

.label-kamu h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
}