body.active-modal {
    overflow-y: hidden;
}

/* .modal-emails, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
} */


.modal-alamat, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
}

.modal-jadwal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.overlay{
    background: rgba(49, 49, 49, 0.2);
}

.modal-nomer, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

/* .delete-confirmation-modal .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
} */


/* Contoh gaya untuk modal konfirmasi */
.delete-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(49, 49, 49, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
  }
  
  
  .confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .back{
    background-color: #8f8b8b; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 10px;
    transition: background-color 0.3s;
  }

.confirm-hapus{
    background-color: #ff0000; 
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 10px;
    transition: background-color 0.3s;
}

.tutup-email{

}
.modal-date, .overlay-date {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}


.ubah-nama-user{
    color: #EF233C;
    font-size: 0.857143rem;
    text-decoration: none;
    cursor: pointer;
}

.ubah-nohp{
    color: #EF233C;
    font-size: 0.857143rem;
    text-decoration: none;
    cursor: pointer;
}

.ubah-tanggal-user{
    color: #EF233C;
    font-size: 0.857143rem;
    text-decoration: none;
    cursor: pointer;
}

.ubah-email-user{
    color: #EF233C;
    font-size: 0.857143rem;
    text-decoration: none;
    cursor: pointer;
}


.modal-nama, .overlay-nama {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.modal-email, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}

.modal-delete, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
}
  


/* 
.bg__modal__cropper .modal__cropper {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 600px;
    left: 0;
    margin: auto;
    padding: 1rem 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}


.bg__modal__cropper .modal__cropper .wrapper__btn {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0 1rem;
    width: 100%;
}

.bg__modal__cropper {
    background-color: rgba(0,0,0,.3);
    bottom: 0;
    height: 100vh;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 9999;
} */


.modal-verif, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
/* .overlays {
    background: rgba(99, 99, 99, 0.8);
} */
/* 
.modals-contents {
    width: 600px;
    height: 680px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
} */

/* .bg__modal__cropper .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(49, 49, 49, 0.5);
} */




.modals-content-ubah-alamat{
    width: 600px;
    height: 680px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.wrapper__btn button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.confirmation-content{
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.confirmation-content p{
    font-size: 18px;
    text-align: center;
}

.modals-content-add-alamat{
    width: 600px;
    height: 680px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.verification-content-modal{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-logout{
    background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.modal-content-nomerhp{
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

/* modalVerifikasiEmail.css */

/* styles.css */

.verification-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .verification-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-lanjutkan,
  .btn-kembali {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-lanjutkan {
    background-color: #EF233C;
    color: #fff;
  }
  
  .btn-kembali {
    background-color: #ccc;
    color: #fff;
  }
  
.wrap-tulisan-email{
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    font-weight: 500;
}



.tulisan-nomer{
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    font-weight: 500;
}

.modal-content-email{
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-delete{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-date{
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-forgot{
    width: 450px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-jadwal{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

.modal-content-nama{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
}

/* .modal__cropper{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-y: auto;
} */



.modals-contents h3 {
    font-weight: 650;
    font-size: 20px;
    letter-spacing: -0.1px;
    color: var(--NN950, #212121);
}

.modals-contents p {
    font-size: 14px;
    font-weight: 500;
}

.modal-content-nama h3 {
    font-weight: 650;
    font-size: 20px;
    letter-spacing: -0.1px;
    color: var(--NN950, #212121);
}

.select-day {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    margin-left: 5px;
    width: 415px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .select-day::-ms-expand {
    display: none;
  }
  
  .select-day:after {
    content: "▼";
    font-size: 10px;
    margin-left: 5px;
    color: #666;
  }
  
  /* Add hover effect to the dropdown arrow */
  .select-day:hover:after {
    color: #333;
  }

.modal-content-nama p {
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    font-weight: 500;
}

.nama-kamu p {
    font-size: 14px;
    font-weight: 500;
}

.btn-simpan {
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
}


/* modall.css */
.bg__modal__cropper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
  }
  
  .modal__cropper {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .modal__cropper h1 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-right: auto;
    padding-left: 1rem;
  }
  
  .wrapper__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0 1rem;
  }
  
  .wrapper__btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .wrapper__btn button:first-child {
    background-color: #666; 
  }
  
  .wrapper__btn button:nth-child(2) {
    background-color: #EF233C; 
  }
  
  .reactEasyCrop_Container {
    width: 100%;
    height: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    filter: none;
    position: relative !important;
  }
  

.modal-buttons{
    margin-top: 20px;
}


.modal-nama {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-verif {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}


.modal-forgot {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}


.modal-email {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-delete{
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}


.modal-alamat {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.delete-confirmation-modal{
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}


.modal-nomer {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-jadwal {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modal-date {
    z-index: 999;
    will-change: opacity;
    transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}



.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 7px;
    background: none;
    border: none;
    font-size: 30px;
}

.nama-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.nama-kamu input[type=text]:focus {
    border: 1px solid #EF233C;
}

.label-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-provinsi-kota-alamat option {
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
}

.input-provinsi-kota-alamat {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    appearance: none;
    background-image: url(../assets/icon/dropdown\ arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    margin: 10px 0 10px 0;
}


.nama-kamu h3 {
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}

.email-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.email-kamu input[type=text]:focus {
    border: 1px solid #EF233C;
}

input .input-email {
    margin-bottom: 15px;
}

.email-kamu h3 {
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}

.btn-simpan-email {
    margin: 30px 0 30px 0;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.btn-simpan-alamat {
    margin: 10px 0 10px 0;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 13px;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.btn-add-jadwal-toko{
    background-color: #EF233C;
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
}


.email-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.nomer-kamu input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.nomer-kamu input[type=text]:focus {
    border: 1px solid #EF233C;
}

input .input-nomer {
    margin-bottom: 15px;
}

.nomer-kamu h3 {
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}


.btn-simpan-nomer {
    margin: 30px 0 30px 0;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
}

.modal-content {
    max-height: 400px;
    overflow: auto;
}

.modal-content-nama {
    max-height: 400px;
}


.tutup-email{
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.scrollable-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.alamat-kamu textarea {
    width: 100%;
    height: 100px;
    /* Sesuaikan tinggi textarea sesuai preferensi Anda */
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
}

.text-diatas-popup {
    margin-left: 10px;
}

.text-diatas-popup .judul-ubah-alamat {
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
}


.kontak-nomer-input {
    margin-top: 10px;
}

.kontak-nomer-input h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
}

.jarak-input-nama {
    margin-bottom: 10px;
}

.jarak-input-nomer {
    margin-bottom: 10px;
}

.edit-alamat {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #EF233C;
    cursor: pointer;
}

.alamat-kamu .peringatan-alamat {
    font-size: 13px;
    margin-bottom: 10px;
}

.alamat-kamu h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
}

.label-kamu p {
    font-size: 13px;
}

.label-kamu h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
}


.btn-kirim-pw{
    padding: 8px 16px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #EF233C;
    color: #fff;
}

.conten-forgot-pw{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.forgot-email{
    cursor: pointer;
}

.conten-forgot-pw h3{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.hapus-produk-ini{
    font-size: 20px;
    font-weight: 600px;
    width: 100%;
    text-align: center;
}

.btn-delete-popup {
    background-color: #ff0000; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 10px;
    transition: background-color 0.3s;
  }
  
    .btn-delete-popup:hover {
        background-color: #cc0000; 
    }

.btn-cancel-product{
    background-color: #8f8b8b; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    }


   .wrapper-del-cancel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0 1rem;
  }
     


  .modal-container-detail-transaksi{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  @keyframes loading {
    0%, 20% {
      content: ".";
    }
    40% {
      content: "..";
    }
    60% {
      content: "...";
    }
    80% {
      content: "";
    }
  }

  .spinner-jadwal {
    animation: loading 1.5s steps(1) infinite;
  }