@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.icon-navbar a {
    height: 23px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 6rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 50px;
    gap: 20px;
}

.listNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -20px;
}

.listNavbar p {
    font-size: 15px;
    font-weight: normal;
    color: #000;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.container-search {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    border: none;
    background: #0000;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    font-family: 'Poppins', sans-serif;
}

input[type="text"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="text"]:focus {
    outline-color: white;
}

.dropdown-result {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.7);
    border: none;
    width: 805px;
    position: fixed;
    top: 10%;
    /* Ubah sesuai dengan tinggi navbar Anda */
    left: 48%;
    transform: translateX(-50%);
    z-index: 9999;
}


.dropdown-row {
    cursor: pointer;
    text-align: center;
    margin: 2px 0;
    border-radius: 10px;
}

.suggestion {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px;
}

.suggestion h3 {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.kategori {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #fff;
    color: #555;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    /* margin-top: 5px; */
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #EF233C;
    color: #ffff;
}

.kategori:hover .dropdown-content {
    display: block;
}

.kategori:hover .dropbtn {
    background-color: #EF233C;
    color: #ffff;
}

.icon-navbar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-navbar svg {
    font-size: 22px;
    color: #000;
}

.icon-navbar img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cart-item-count {
    position: absolute;
    top: 1px;
    right: 260px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.icon-cart {
    display: flex;
    align-items: center;
}

.line {
    width: 2px;
    height: 20px;
    background-color: #555;
    margin: 0 22px;
}

.login-daftar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.login-daftar .btn-login {
    color: #EF233C;
    font-size: 15px;
    font-weight: 500;
    padding: 4px 16px;
    border: 1px solid #EF233C;
    background-color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.login-daftar .daftar {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 4px 16px;
    border: 1px solid #EF233C;
    background-color: #EF233C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.myshop {
    gap: 12px;
    display: flex;
    align-items: center;
}

.myshop h3 {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.text-toko {
    font-weight: 600;
    font-style: poppins;
}

.photo-profiles {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    cursor: pointer;
}

.circle-photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn-logout {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 17px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn-menuju-whislist {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn-menuju-profile {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: 0.2s ease-in;
}


.drop-profile {
    position: relative;
}

.photo-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.menu-dropdown hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.btn-menuju-profile,
.btn-menuju-whislist,
.btn-logout {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
}

.opsi-menu-dropdwn {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-menuju-profile:hover,
.btn-menuju-whislist:hover,
.btn-logout:hover {
    color: #ef233c;
}

.drop-profile:hover .menu-dropdown {
    display: block;
}

.menu-dropdown {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.drop-profile:hover .menu-dropdown {
    opacity: 1;
    transform: translateY(0);
}

/* .alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  } */


@media only screen and (max-width: 480px) {

    .navbar {
        height: 80px;
    }

    .navbar-logo img {
        display: none;
    }

    .container-navbar {
        margin-left: -18px;
    }

    .navbar {
        padding: 0;
    }

    .search {
        width: 200px;
        height: 30px;
    }

    .kategori {
        display: none;
    }

    .icon-navbar {
        margin: 0 12px;
    }

    .icon-navbar img {
        width: 20px;
        height: 20px;
    }

    .circle img {
        width: 20px;
        height: 20px;
    }


    .line {
        display: none;
    }

    .daftar {
        display: none;
    }

    .login {
        height: 30px;
        padding: 0;
        margin: 0;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

/* 
@media only screen and (max-width: 926px) {

    .navbar {
        height: 80px;
    }

    .navbar-logo img {
        display: none;
    }

    .container-navbar {
        margin-left: -18px;
    }

    .navbar {
        padding: 0;
    }

    .search {
        width: 200px;
        height: 30px;
    }

    .kategori {
        display: none;
    }

    .icon-navbar {
        margin: 0 12px;
    }

    .icon-navbar img {
        width: 20px;
        height: 20px;
    }

    .login {
        height: 30px;
        padding: 0;
        margin: 0;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {

    .navbar {
        height: 80px;
    }

    .navbar-logo img {
        display: none;
    }

    .container-navbar {
        margin-left: -18px;
    }

    .navbar {
        padding: 0;
    }

    .search {
        width: 400px;
        height: 30px;
    }

    .kategori {
        display: none;
    }

    .icon-navbar {
        margin: 0 12px;
    }

    .icon-navbar img {
        width: 20px;
        height: 20px;
    }

    .login {
        height: 30px;
        padding: 0;
        margin: 0;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
} */