.container-notifikasi {
    width: 100%;
}

.container-notifikasi-main {
    width: 70%;
    margin: 0 auto;
}

.container-title-pengaturan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.container-title-pengaturan h1 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}

.container-notifikasi-box {
    border: 1px solid #E5E5E5;
    width: 100%;
    border-radius: 10px;
}

.card-notifikasi {
    background-color: #ff5a5a;
}