.container-notifikasi {
    width: 100%;
}

.container-notifikasi-main {
    width: 70%;
    margin: 0 auto;
}

.container-title-pengaturan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.container-title-pengaturan h1 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}

.container-notifikasi-box {
    border: 1px solid #E5E5E5;
    width: 100%;
    border-radius: 10px;
}

.card-notifikasi {
    background-color: #ffdada;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: start;
    gap: 10px;
}

.card-notifikasi .card-notifikasi-left img {
    width: 90px;
    height: 100px;
}

.card-notifikasi .card-notifikasi-right h1 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.card-notifikasi .card-notifikasi-right p {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
}

.card-notifikasi .card-notifikasi-right span {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
}

.tidak-ada-data{
    text-align: center;
    margin: auto;
}