* {
    margin: 0;
    padding: 0;
}

.produk a {
    text-decoration: none;
    color: #000;
}

.produk-pilihan {
    margin: 67px 0;
}


.title-produkPilihan {
    margin: 16px 0;
}

.title-produkPilihan h1 {
    font-size: 25px;
}

.swiper-wrapper {
    margin-top: 20px;
}

.container-card-produkPilihan {
    margin-left: -32px;
    margin-right: 40px;
}


.card-produkPilihan {
    width: 192px;
    height: 323px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.content-porduk {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.img-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
    width: 100%;
}

.img-pro img {
    width: 100%;
    height: 192px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.nama-produk {
    margin-bottom: 10px;
}

.nama-produk h3 {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.location p {
    font-size: 12px;
    font-weight: 500;
}

.harga-produk {
    display: flex;
    flex-direction: column;
}

.harga-produk h3 {
    font-size: 12px;
    font-weight: 700;
}

.rating-pro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.rating-pro h3 {
    font-size: 12px;
    font-weight: 500;
}

.wishlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line-produk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: #00000035;
    margin: 50px 0;
}