* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

.box-biodata{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    box-sizing: border-box;
    width: 850px;
    height: 600px;  
    margin-top: 100px;
    margin: 50px;
   
}

.box-photo{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    box-sizing: border-box;
    width: 210px;
    height: 300px;
    margin-top: 30px;
} 

.biodata-kiri h3{
    color: rgba(107, 89, 89, 0.77);
}

.text-judul{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.img-foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.isibox h3{
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}

.btn-editfoto{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 47px;
    border: none;
    background-color: #EF233C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.edit-biodata{
    color: rgba(107, 89, 89, 0.77);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.container{
    display: flex;
    margin: 20px 40px 0 30px;
    padding: 20px;
    gap: 30px;
}



