.search-page {
    overflow-x: hidden;
}

.search-page-container {
    margin: 20px;
}

.search-page-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-page-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.container-resultSearch {
    width: 1400px;
    margin: 31px auto;
}

.result-search {
    display: grid;
    grid-template-columns: 5, 1fr;
}