
/* .parent{
    display: flex;
    align-items: start ;  
} */

.container-profile {
    background: #ffffff;
    width: 220px;
    height: 500px;
    /* box-shadow: var(--NN200, #d6dfeb) 0px 1px 6px 0px; */
    /* border-radius: 12px; */
    margin: 50px;
    background: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
  }
  
  .user-prof {
    display: flex;
    align-items: center;
    margin: 20px 20px;
    gap: 13px;
  }
  
  .user-prof h3 {
    font-weight: 500;
  }
  
  .profil,
  .riwayat,
  .alamat {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 10px 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    color: #000;
  }
  
  .profil h3,
  .riwayat h3,
  .alamat h3 {
    font-size: 16px;
    font-weight: 600;
  }
  
  .profil a,
  .riwayat a,
  .alamat a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .riwayat:hover,
  .alamat:hover,
  .profil:hover {
    background-color: #f0828f70;
    color: #ef233c;
  }
  
  .riwayat svg,
  .alamat svg,
  .profil svg {
    margin-left: 10px;
    font-size: 17px;
  }
  
  .active {
    border-left: 4px solid #ef233c;
    color: #ef233c;
    font-weight: 600;
  }
  
  .linkk {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    gap: 15px;
  }
  
  @media (max-width: 576px) {
    .container-profile {
      width: 100%;
      height: auto;
      margin: 20px;
      padding: 20px;
    }
  }


